---
import { getDisplacementTextFilter } from '../utils/liquidGlass';

interface Props {
  blur?: number
  strength?: number;
  chromaticAberration?: number;
  color?: 'white' | 'black' | 'transparent';
}

const { blur, strength, chromaticAberration, color } = Astro.props;

const style = {
    backdropFilter: `blur(${(blur ?? 0) / 2}px) url('${getDisplacementTextFilter({
      strength,
      chromaticAberration,
    })}') blur(${blur ?? 0}px) brightness(1.1) saturate(1.5)`,
    mask: 'linear-gradient(#000 0 0) text',
    '-webkit-mask': 'linear-gradient(#000 0 0) text'
};
---

<div class={`glass-text-container glass-${color ?? 'none'} relative inline-block`}>
    <span class="invisible">
        <slot/>
    </span>
    <div 
        class={`glass-text glass-${color ?? 'none'} absolute inset-0`}
        style={style}
    >
        <slot/>
    </div>
</div>